<div class="page-header">
  <h1>Show problem</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name of the problem:</dt>
  <dd><%= @problem.name %></dd>
</dl>

<p.line> 
<p> 
<strong>Steps:</strong> 
</p>

<div id='step_table'>
  <%= render partial: 'steps_table', locals: {steps: @problem.steps} %>
</div>

<%= render 'steps/form', :remote => true, locals: {steps: @problem.steps} %>





<%= link_to problems_path, class: 'btn btn-primary btn-basic' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back to all problems
<% end %>
<%= link_to edit_problem_path(@problem), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit the problem name
<% end %>

